# Entorno virtual (NO se sube a GitHub por buenas prácticas)
venv/
.venv/
env/

# Archivos temporales de Python (NO se suben)
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos local de prueba (Opcional, no se suele subir)
*.sqlite3

# NOTA: La carpeta 'migrations/' NO la ponemos aquí para que SÍ suba a GitHub
